Repository nackyAir/nacky_app: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

prettier:
  run: pnpm prettier --write {staged_files}

eslint:
  run: pnpm eslint --fix {staged_files}

fea: lefthookの実装。
  lefthook.yml
Due: none

fix: TimeLineItemの修正。
  apps/web/features/Home/ProjectTabs/components/ProjectTabs.tsx
  apps/web/features/Home/ProjectTimeLIne/components/ProjectTimeLIne.tsx
  apps/web/features/Home/ProjectTimeLIne/config.ts
  apps/web/features/Home/ProjectTimeLIne/index.ts
  apps/web/features/Home/ProjectTimeLIne/type.ts
  apps/web/features/Home/TimeLine/ProjectTimeLIne/type.ts
  apps/web/features/Home/TimeLine/index.ts
Due: prettier, eslint

Headerの修正と、Github ProgressBarの作成と、リファクタリング。 (#15)
  apps/web/config/siteConfig.tsx
  apps/web/features/Home/Progress/LanguageProgress/components/LanguageProgress.tsx
  apps/web/features/Home/Progress/LanguageProgress/hooks/useGithubLanguages.tsx
  apps/web/features/Home/Progress/LanguageProgress/index.ts
  apps/web/features/Home/ProjectTabs/components/ProjectTabs.tsx
  apps/web/features/Home/ProjectTabs/index.ts
  apps/web/features/Home/ProjectTimeLIne/components/ProjectTimeLIne.tsx
  apps/web/features/Home/ProjectTimeLIne/config.ts
  apps/web/features/Home/ProjectTimeLIne/index.ts
  apps/web/features/Home/ProjectTimeLIne/type.ts
  apps/web/features/Home/SkillBadges/components/SkillBadges.tsx
  apps/web/features/Home/SkillBadges/index.ts
  apps/web/features/Home/SocialLinks/components/SocialLink.tsx
  apps/web/features/Home/SocialLinks/index.ts
  apps/web/features/Home/TimeLine/ProjectTimeLIne/type.ts
  apps/web/features/Home/TimeLine/index.ts
  apps/web/features/Home/Wrapper/components/HomeWarapper.tsx
  apps/web/features/Layout/Header.tsx
  lefthook.yml
  packages/ui/package.json
  packages/ui/src/components/ui/LanguageProgress.tsx
  packages/ui/src/components/ui/progress.tsx
  packages/ui/src/components/ui/skeleton.tsx
  packages/ui/src/components/ui/tooltip.tsx
  packages/ui/src/icons/custom.tsx
  pnpm-lock.yaml
Due: prettier, eslint

11/30リリース分 (#17)
  apps/web/config/siteConfig.tsx
  apps/web/features/Home/Progress/LanguageProgress/components/LanguageProgress.tsx
  apps/web/features/Home/Progress/LanguageProgress/hooks/useGithubLanguages.tsx
  apps/web/features/Home/Progress/LanguageProgress/index.ts
  apps/web/features/Home/ProjectTabs/components/ProjectTabs.tsx
  apps/web/features/Home/ProjectTabs/index.ts
  apps/web/features/Home/ProjectTimeLIne/components/ProjectTimeLIne.tsx
  apps/web/features/Home/ProjectTimeLIne/config.ts
  apps/web/features/Home/ProjectTimeLIne/index.ts
  apps/web/features/Home/ProjectTimeLIne/type.ts
  apps/web/features/Home/SkillBadges/components/SkillBadges.tsx
  apps/web/features/Home/SkillBadges/index.ts
  apps/web/features/Home/SocialLinks/components/SocialLink.tsx
  apps/web/features/Home/SocialLinks/index.ts
  apps/web/features/Home/Wrapper/components/HomeWarapper.tsx
  apps/web/features/Layout/Header.tsx
  lefthook.yml
  packages/ui/package.json
  packages/ui/src/components/ui/LanguageProgress.tsx
  packages/ui/src/components/ui/progress.tsx
  packages/ui/src/components/ui/skeleton.tsx
  packages/ui/src/components/ui/tooltip.tsx
  packages/ui/src/icons/custom.tsx
  pnpm-lock.yaml
Due: prettier, eslint

fix: TImeLineの修正。
  apps/web/features/Home/TimeLine/ProjectTimeLIne/components/ProjectTimeLIne.tsx
  apps/web/features/Home/TimeLine/ProjectTimeLIne/config.ts
  apps/web/features/Home/TimeLine/ProjectTimeLIne/type.ts
  apps/web/features/Home/TimeLine/index.ts
Due: prettier, eslint

fix: leftHookの修正。
  .husky/_/pre-commit
  .husky/_/pre-push
  .husky/_/prepare-commit-msg
  apps/web/features/Home/Wrapper/components/HomeWarapper.tsx
  lefthook.yml
  package.json
  packages/ui/src/lib/utils.ts
  pnpm-lock.yaml
Due: prettier, eslint

fix: 環境変数の値の修正。
  apps/web/actions/home/sendContactEmail/index.ts
Due: prettier, eslint

fix: skill-componentsのkeyを追加とimportの修正。
  apps/web/features/Home/ProjectTimeLIne/components/ProjectTimeLIne.tsx
  apps/web/features/Home/SkillBadges/components/SkillBadges.tsx
Due: prettier, eslint

fix: directory構成の修正と、変更。
  .vscode/settings.json
  apps/web/app/home/page.tsx
  apps/web/features/Home/ContactForm/components/ContactForm.tsx
  apps/web/features/Home/ContactForm/index.ts
  apps/web/features/Home/Form/index.ts
  apps/web/features/Home/HomeWrapper/components/HomeWrapper.tsx
  apps/web/features/Home/HomeWrapper/index.ts
  apps/web/features/Home/LanguageProgress/components/LanguageProgress.tsx
  apps/web/features/Home/LanguageProgress/hooks/useGithubLanguages.tsx
  apps/web/features/Home/LanguageProgress/index.ts
  apps/web/features/Home/ProjectTabs/index.ts
  apps/web/features/Home/Wrapper/index.ts
  apps/web/features/Layout/Header.tsx
Due: prettier, eslint

fea: honoAPIの追加。
  .vscode/settings.json
  apps/api/.gitignore
  apps/api/README.md
  apps/api/package.json
  apps/api/src/index.ts
  apps/api/tsconfig.json
  apps/api/wrangler.toml
  packages/resend/package.json
  pnpm-lock.yaml
  turbo.json
Due: prettier, eslint

fix: contactFormの修正。
  apps/web/actions/home/sendContactEmail/index.ts
  apps/web/features/Home/ContactForm/components/ContactForm.tsx
  packages/resend/emails/contactForm.tsx
  packages/resend/src/client.tsx
Due: prettier, eslint

fix: contactFormの修正。
  .vscode/settings.json
  apps/web/app/blog/create/page.tsx
  apps/web/app/blog/page.tsx
  apps/web/app/home/layout.tsx
  apps/web/features/Blog/BlogCreateWrapper/components/BlogCreateWrapper.tsx
  apps/web/features/Blog/BlogCreateWrapper/index.ts
  apps/web/features/Home/ContactForm/components/ContactForm.tsx
  apps/web/features/Home/ContactForm/schema.ts
  apps/web/features/Home/HomeWrapper/components/HomeWrapper.tsx
  apps/web/features/Layout/components/Header.tsx
  apps/web/features/Layout/components/LoadingScreen.tsx
  apps/web/features/Layout/components/ScrollProgress.tsx
  apps/web/features/Layout/index.ts
  packages/ui/components.json
  packages/ui/package.json
  packages/ui/src/components/ui/RichTextEditor.tsx
  packages/ui/src/components/ui/toggle.tsx
  pnpm-lock.yaml
Due: prettier, eslint

fix: tailwindcssのクラスの修正。
  apps/web/features/Home/ProjectTimeLIne/components/ProjectTimeLIne.tsx
Due: prettier, eslint

hot dix shadcn-ui globals.css
  packages/ui/components.json
  packages/ui/src/globals.css
  packages/ui/tailwind.config.js
Due: prettier

change border-border global.css class
  packages/ui/src/globals.css
Due: prettier

del:delete globals.css body class.
  packages/ui/src/globals.css
Due: prettier

Unify function declaration style
  apps/web/features/Home/LanguageProgress/components/LanguageProgress.tsx
  apps/web/features/Home/ProjectTabs/components/ProjectTabs.tsx
  apps/web/features/Home/SkillBadges/components/SkillBadges.tsx
  apps/web/features/Home/SocialLinks/components/SocialLink.tsx
Due: prettier, eslint

Initialize project with shadcn setup
  packages/ui/src/globals.css
  packages/ui/tailwind.config.js
Due: prettier

"Fix build error by removing conflicting code.
  packages/ui/src/globals.css
Due: prettier

fea: change rebovate config.
  renovate.json
Due: none

refactor: improve error handling in createSafeAction
  apps/web/lib/create-safe-action.tsx
Due: prettier, eslint

refactor: update target to ESNext in tsconfig.json
  apps/web/tsconfig.json
Due: prettier

fix: tailwindcss file path.
  packages/ui/tailwind.config.js
  pnpm-lock.yaml
Due: none

fix: delete blog components.
  apps/web/app/blog/create/page.tsx
  apps/web/app/blog/page.tsx
Due: prettier, eslint

fix: tailwind config content
  packages/ui/tailwind.config.js
  packages/ui/tsconfig.json
Due: prettier

del: delete blog page/
  apps/web/app/blog/create/page.tsx
  apps/web/app/blog/page.tsx
Due: prettier, eslint

fix: eslint versions downgrade.
  apps/web/package.json
  pnpm-lock.yaml
Due: prettier

fix: Update file path for tailwindcss in tailwind.config.js
  packages/ui/tailwind.config.js
Due: none

fix: tailwind version downgrade.
  apps/web/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: prettier

fix: Update file path for tailwindcss in tailwind.config.js
  apps/web/tailwind.config.js
Due: none

test: いったんテストでtailwindconfigがこれで適用できるか確認する。
  apps/web/tailwind.config.js
Due: none

test: もとに戻してみる。
  apps/web/tailwind.config.js
Due: none

test: tsconfigのbaseurlをなくしてみる。
  packages/ui/tsconfig.json
Due: prettier

相対パスしてみる。
  apps/web/tailwind.config.js
Due: none

fix: prettierのバージョンの変更。
  package.json
  pnpm-lock.yaml
Due: none

fix: ページをグループ化し、Layoutを共通化。
  apps/web/app/(children)/home/page.tsx
  apps/web/app/(children)/layout.tsx
Due: prettier, eslint

fea: blog pageを作成。
  apps/web/app/(children)/blog/create/page.tsx
  apps/web/app/(children)/blog/page.tsx
Due: prettier, eslint

Path conditions:
  prettier: any of: **/*.{ts,tsx,css,scss,md,json}
  eslint: any of: **/*.{ts,tsx}
